/* *{
    background-color: yellow;
} */

p {
    color: red;
}

#parrafo {
    color: green 
}

.lista {
    color: rgb(33, 47, 241);
}

img {
    /* display: flex; */
    /* flex-direction: column; */
    width: 200px;
    padding: 50px;
    border: 5px solid red;
    margin: 20px;
}

#caja-parrafos {
    display: flex;
}

#caja-perrito {
    display: flex;
}

.boton-primary{
    background-color: blue;
}

